.nav {
  background-color: #dff3fb;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav h4 {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding-right: 0px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav li > img {
  width: 350px;
  height: 70px;
}

.nav li a img {
  width: 35px;
  height: 35px;
}

.header {
  background-color: rgba(255, 255, 255, 0.95);
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  margin-left: 70px;
}


/* Menu */ 

.header .menu {
  float: center;
  list-style: none;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.menu > li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu a {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.menu .active {
  background-color: #cce0ff;
  color: #ffffff;
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

/* Carousel */


.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
}

.slide {
  background-color: #142966;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.active-nav-bar {
    display: block;
}
.slide-copy {
  text-shadow: 1px 1px #000000;
}


.slide-copy a {
  text-shadow: 1px 1px #000000;
  color: #ffffff;
}

.slide-copy h1 {
  color: #ffffff;  
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
  
  font-size: 40px;
  margin-top: 90px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #ffffff;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;

}

.slide-img {
  text-align: right;
  padding-top: 50px;
}


/* Slide feature */

.slide-feature {
  text-align: center;
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ac.png');
  height: 470px;
}

#home {
  text-align: left;
  background-image: url('http://www.icr.org/i/wide/hawaii_wide.jpg');
  height: 470px;
}

#featart {
  text-align: left;
  background-image: url('http://tinyurl.com/nc8ph8y');
  background-position: 50% 90%;
  height: 470px;
}

#bag-to-diff {
  background-image: url("http://thumbs.dreamstime.com/x/recycling-background-10125370.jpg");
  text-align: left;
}

#bag-to-diff h1 {
  margin-top: -20px;
}

#bag-to-diff h2 {
  margin-top: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 70px;
}

#bag-to-diff h3 {
  color: #ffffff;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

#bag-to-diff a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

#YE {
  background-image: url('file:///Users/Gavin/Desktop/IMG_0428.jpg');
  background-position: 50% 50%;
}

#YE h1 {
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

#drugs {
  background-image: url("https://www.storyofcooks.com/wp-content/uploads/2014/04/simple-background-31.jpg");
}

#drugs h1 {
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 400;
  font-size: 110px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 0px #000000;
}

#drugs h2 {
  text-align: center;
  margin-top: -30px;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 0px #000000;
}

#drugs p, #drugs a {
  font-family: 'Hammersmith One', sans-serif;
  color: #000000;
  text-shadow: 0px 0px #000000;
}

.slide-feature img {
  height: 280px;
  width: 380px;
  margin-top: -50px;
  margin-bottom: 0px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #dff3fb;
    padding-bottom: 20px;
}

.neighborhood-guides:first-child {
    padding-bottom: 50px;
}


.neighborhood-guides:not(:first-child) > .container {
  padding: 20px 20px 20px 20px;
  background-color: #c9dbf2;
}

#whatshappening, .neighborhood-guides:nth-child(4) {
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  font-family: "Hammersmith One", sans-serif;
}


.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 48px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}
